button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    height: 2.5em;
}

.form-wrapper {
    background: var(--dark);
    margin-top: 10vh;
    align-self: start;
    justify-self: center;
    width: 20em;
}

.form-wrapper h2{
    color: var(--light);
    text-align: center;
}

.form-wrapper form{
    background: var(--light);
    margin: 0;
}

input{
    border: none;
	border-bottom: 1px solid #ddd;
}

button {
    border:none;
    background: var(--light);
    height: auto;
    text-decoration: none;
    color: black;
    width: 150px;
    padding: 1em 0;
    text-align: center;
    border-radius: 5px;
    margin: 1em 1em;
    box-shadow: 0.3em 0.3em 0 0 var(--blue), inset 0.3em 0.3em 0 0 var(--blue);
    transition: 0.25s;
}

button:hover, button:focus {
    box-shadow: 0 0 0 0 var(--blue), inset 6em 3.5em 0 0 var(--blue);
    color: var(--light);
}