@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/*
 * Variables
 */

:root {
    /* --light2: #F7F9FD; */
    --light2: #EDF0F6;
    --light: white;
    --dark: #1F2428;
    --dark2: #2d343a;
    --dark-transp: #1F2428dd;
    --header-bg: #000000aa;
    --blue: #267ADB;
    --blue-bg: #141C3A;
    /* Widths and heighs */
    --hero-text-width: 30em;
    --wapper-width: 920px;
    --header-height: 100px;
}

/*
 * General styles
 */

body {
    background: var(--light2);
    color: black;
    font-family: 'Fira Code', monospace;
}

body.stop-transitions * {
    transition: none !important;
}

#site-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    display: grid;
    width: 100%;
}

/*
 * Header styles
 */

.hero-bg {
    max-height: 35em;
    min-height: calc(100vh - var(--header-height));
    color: var(--light);
    display: grid;
    grid-template-rows: auto 3fr 2fr;
    grid-template-columns: none;
}

#html-code {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 4;
    grid-column: 1;
    z-index: -50;
    background: var(--dark);
    margin: 0;
    overflow: hidden;
}

#html-code pre {
    background: var(--dark);
    border-style: none;
    user-select: none;
    min-width: 1263px;
}

header {
    font-family: 'Open Sans', sans-serif;
    grid-row: 1 / 2;
    grid-column: 1;
    display: grid;
    justify-items: center;
    background: var(--dark);
    color: var(--light);
    height: var(--header-height);
}

.header-wrapper {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}

#logo {
    margin-left: 0.4em;
    padding: 0.2em;
    border-top: 2px solid var(--light);
    border-right: 2px solid var(--light);
}

#logo a {
    text-decoration: none;
    color: inherit;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    position: relative;
    display: block;
    width: 2em;
    height: 3px;
    background: var(--light);
    border-radius: 2px;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: right;
    background: var(--dark);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav li {
    margin-bottom: 5em;
    margin-right: 2em;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--light);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    position: relative;
    background: var(--dark) !important;
}

nav a::before {
    content: "";
    display: block;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    right: 0;
    top: -0.2em;
    opacity: 0;
    transition: opacity ease-in-out 300ms;
}

nav a:hover::before {
    opacity: 1;
}

.hero-wrapper {
    grid-row: 2 / 3;
    grid-column: 1;
    background: var(--dark-transp);
}

.hero-text {
    padding: 5em 2em;
    max-width: var(--hero-text-width);
    align-self: center;
}

#log-reg-button-container {
    grid-row: 3 / 4;
    grid-column: 1;
    /* max-width: 100%;
    max-height: 10em; */
    /* padding: 2em; */
    /* justify-self: center;
    align-self: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--dark-transp);
}

/* #login-link-button {
    background: var(--blue);
    color: var(--light);
}

#signup-link-button {
    background: var(--blue);
    color: var(--light);
} */

a.button {
    display: inline-block;
    text-decoration: none;
    color: var(--light);
    width: 150px;
    padding: 1em 0;
    text-align: center;
    border-radius: 5px;
    margin: 1em 1em;
    box-shadow: 0.3em 0.3em 0 0 var(--blue), inset 0.3em 0.3em 0 0 var(--blue);
    transition: 0.25s;
}

a.button:hover,a.button:focus {
    box-shadow: 0 0 0 0 var(--blue), inset 6em 3.5em 0 0 var(--blue);
}

/*
 * Main styles
 */

main {
    display: grid;
    justify-items: center;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.55rem;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.main-text {
    margin: 1em;
    align-self: start;
}

.main-wrapper {
    background: var(--light);
}

.main-landing-structure {
    grid-row: repeat(6, auto);
}

#main-text-1 {
    grid-row: 1;
}

#main-text-2 {
    grid-row: 3;
}

#main-text-3 {
    grid-row: 5;
}

.img-responsive {
    width: auto;
    max-width: 310px;
    height: auto;
    justify-self: center;
    align-self: start;
    margin: 1em;
}

.signup-wrapper {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.signup-wrapper input{
    margin-bottom: 1em;
}

/*
 * Footer styles
 */

footer {
    display: grid;
    justify-items: center;
    height: 100px;
    background: var(--dark);
    color: var(--light);
}

.footer-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

footer div p {
    align-self: center;
}

.icons {
    align-self: center;
    justify-self: end;
}

.icons a {
    color: var(--light);
}

/*
 * Media Query
 * Tablet 768-1024
 */

@media (min-width: 768px) {
    /*
    * Header styles
    */
    .hero-text {
        padding: 5em;
    }
    /*
    * Main styles
    */
    #log-reg-button-container {
        flex-direction: row;
    }

    .main-landing-structure {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: auto auto auto;
    }
    #main-text-1 {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    #main-text-2 {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    #main-text-3 {
        grid-column: 1 / 3;
        grid-row: 3;
    }
}

/*
 * Media Query
 * Desktop over 1024
 */

@media (min-width: 1024px) {
    /*
    * General styles
    */
    .wrapper {
        width: var(--wapper-width);
        justify-self: center;
    }
    /*
    * Header styles
    */
    #html-code {
        /* width: var(--wapper-width);
        justify-self: center; */
        align-items: center;
    }
    .header-wrapper {
        display: grid;
        position: relative;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1.5em;
        height: auto;
        width: var(--wapper-width);
        overflow: hidden;
    }
    #logo {
        margin-left: 0;
    }
    nav {
        all: unset;
        height: 30px;
        display: flex;
        justify-content: flex-end;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav li {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 2em;
    }
    nav a {
        opacity: 1;
    }
    .nav-toggle-label {
        display: none;
    }
    .hero-text {
        padding: 5em;
    }
    .hero-wrapper{
        margin-top: 5em;
    }
    #log-reg-button-container {
        flex-direction: row;
        margin-bottom: 5em;
    }
    /*
    * Main styles
    */

    .main-landing-structure {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: auto auto auto;
    }
    #main-text-1 {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    #main-text-2 {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    #main-text-3 {
        grid-column: 1 / 3;
        grid-row: 3;
    }
}